<!--<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication Pages</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
</head>
<body>
  <div class="auth-container">
    
    <div class="form-container" id="login-form">
      <h2>Login</h2>
      <form action="/login" method="POST">
        <label for="login-email">Email</label>
        <input type="email" id="login-email" name="email" placeholder="Enter your email" required>
        
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" placeholder="Enter your password" required>
        
        <button type="submit" class="btn">Login</button>
        <p>Don't have an account? <a href="C:\du\Librarymanagement\signup.html">Sign-Up</a></p>
      </form>
    </div>

  </div>
</body>
</html>-->
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Ludiflex | Login & Registration</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/loginstyle.css' %}">
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>E-Library</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="#" class="link active"> Login</a></li>
                <!--<li><a href="#" class="link">Blog</a></li>
                <li><a href="#" class="link">Services</a></li>
                <li><a href="#" class="link">About</a></li>-->
            </ul>
        </div>
        <div class="nav-button">
            <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
            <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
        </div>
        <div class="nav-menu-btn">
            <i class="bx bx-menu" onclick="myMenuFunction()"></i>
        </div>
    </nav>
<!----------------------------- Form box ----------------------------------->  

    <div class="form-box">
        
        <!------------------- login form -------------------------->
        <div class="login-container" id="login">
            <div class="top">
                <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                <header>Login</header>
            </div>
        <form id="loginform1" method="POST" action="/studentpanel/"> 
                {% csrf_token %}    
            <div class="input-box">
                <input type="text" class="input-field" name="full_name"  placeholder="Username or Email"required>
                <i class="bx bx-user"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Sign In">
            </div>
        </form>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="login-check">
                    <label for="login-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Forgot password?</a></label>
                </div>
            </div>
        </div>
   
        <!------------------- registration form -------------------------->
      
        <div class="register-container" id="register">
         
            <div class="top">
                <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                <header>Sign Up</header>
            </div>
            <div class="two-forms">
        <form id="loginform" method="POST" action="/studentpanel/"> 
                    {% csrf_token %} 
                <div class="input-box">
                    <input type="text" class="input-field" name="full_name" placeholder="Fullname">
                    <i class="bx bx-user"></i>
                </div>
            
            </div>
            <div class="input-box">
                <input type="text" class="input-field" name="email" placeholder="Email">
                <i class="bx bx-envelope"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" name="password" placeholder="Password">
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Register">
            </div>
        </form> 
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register-check">
                    <label for="register-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
          </div>
       
        </div>
    </div>
  
</div>  
 


</body>
</html>
<script src="{% static 'js/login.js' %}"></script>